<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>
      <% if @p2_attack %>
        <div>
          <%= @player1_name %> attacked <%= @player2_name %>
          <br></br>
           <%= @player2_name %> now has: <%= @p2_health %>/100HP
        </div>
      <% else %>
        <div>
          <%= @player2_name %> attacked <%= @player1_name %>
          <br></br>
           <%= @player1_name %> now has: <%= @p1_health %>/100HP
        </div>
      <% end %>

       <form action="/play">
         <input type="submit" value="Keep playing">
       </form>

    </body>
  </html>
