<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>
      <% if @game.attack(@game.player2) %>
        <div>
          <%= @game.player1.player_name %> attacked <%= @game.player2.player_name %>
          <br></br>
           <%= @game.player2.player_name %> now has: <%= @game.player2.health %>/100HP
        </div>
      <% else %>
        <div>
          <%= @game.player2.player_name %> attacked <%= @game.player1.player_name %>
          <br></br>
           <%= @game.player1.player_name %> now has: <%= @game.player1.health %>/100HP
        </div>
      <% end %>

       <form action="/play">
         <input type="submit" value="Keep playing">
       </form>

    </body>
  </html>
