<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>
      <%= @player1_name %> vs. <%= @player2_name %>
        <br></br>
        <br></br>
        <%= @player1_name %> <%= @p1_health %>/100HP
        <br></br>
        <% unless @game_over %>
            <form action="/attack2">
        <% else %>
            <form action="/gameover">
        <% end %>
            <input type="submit" value="Attack <%= @player2_name %> ">
            </form>
            <br></br>
            <br></br>
            <%= @player2_name %> <%= @p2_health %>/100HP
            <br></br>
            <form action="/attack1">
              <input type="submit" value="Attack <%= @player1_name %>">
            </form>
    </body>
  </html>
