<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>
      <%= @game.player1.player_name %> vs. <%= @game.player2.player_name %>
        <br></br>
        <br></br>
        <%= @game.player1.player_name %> <%= @game.player1.health %>/100HP
        <br></br>
        <% unless @game.game_over? %>
            <form action="/attack2">
        <% else %>
            <form action="/gameover">
        <% end %>
            <input type="submit" value="Attack <%= @game.player2.player_name %> ">
            </form>
            <br></br>
            <br></br>
            <%= @game.player2.player_name %> <%= @game.player2.health %>/100HP
            <br></br>
            <form action="/attack1">
              <input type="submit" value="Attack <%= @game.player1.player_name %>">
            </form>
    </body>
  </html>
