<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Pokemon Battle</title>
  <style>
body  {
    background-image: url("http://i.imgur.com/UZKEjzG.png");
  }
  </style>
</head>
    <body>

      <%= @player1_name %>
      <br></br>
      <%= @player1_name %> <%= @p1_health %>/100HP
       vs.
        <%= @player2_name %>
        <br></br>
        <%= @player2_name %> <%= @p2_health %>/100HP

      <form action="/attack2">
        <input type="submit" value="Attack P2">
      </form>

      <form action="/attack1">
        <input type="submit" value="Attack P1">
      </form>

    </body>
  </html>
